.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: none;
  
}

.category {
  margin: 0 10px;
  padding: 0 10px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 30px;
  height: 30px;
  
  line-height: 30px;
  text-align: center;

}

.category.active {
  background-color: #F6B14A;
  color: white;
  border-color: #F6B14A;

}