@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

body, html {
  height: 100%;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
}
.container {
  height: 100%;
  display: grid;
  
  grid-template-columns: 50px 4fr;
  grid-template-rows: 60px 60px 360px auto 120px 40px;

  grid-template-areas: 
  "header header"
  "streamers categories"
  "streamers carousel"
  "streamers video"
  "info video"
  "info footer"
  ;

}

@media (min-width: 768px) {
  .container {
      grid-template-columns: 1fr 4fr;
    }
}

.header {
  grid-area: header;
}

.streamers {
  grid-area: streamers;
}

.info {
  grid-area: info;
}

.categories {
  grid-area: categories;
}

.carousel {
  grid-area: carousel;
}

.videoc {
  grid-area: video;
}

.footer {
  grid-area: footer;
}