.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 1px rgb(105, 105, 105);
  z-index: 0;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 5px;
}

.logo img {
  height: 80%;
}

.search {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  grid-template-rows: 30px;
  grid-template-areas: "text_cell button_cell microphone_cell";
  margin: auto;
  width: 30%;
}

form.search input {
  grid-area: text_cell;
  font-size: 12px;
  font-weight: bold;
  color:#eee;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
}

form.search input:focus {
  outline: none;
  border: 1px solid #aaa;
  border-radius: 6px 0 0 6px;
}

form.search button {
  grid-area: button_cell;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  border-left: none;
}

form.search button:hover {
  background: #aaa;
}

.microphone {
  grid-area: microphone_cell;
}

.menu-box {
  display: flex;
}

.rounded-item {
  margin: auto 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.notifications {
  font-size: 11px;
  color: #bbb;
}

.notifications:hover {
  color: #666;
}

.menu {
  font-size: 6px;
  color: black;
  width: 35px;
  height: 35px;
  
  line-height: 38px;
  border-radius: 50%;
  background-color: #F6B14A
}

.menu:hover {
  background-color: #bbb
}

.dropdown_button {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 6px;
  text-decoration: none;
  font-size: 17px;

  display: block;
}

.dropdown-content a:hover {
  background-color: #fff;
}
.dropdown_button:hover .dropdown-content {
  display: block;
}
