.info {
  position: relative;
  bottom: 10px;
  background-color: #FBFBFB;
}

.info .panel {
  background-color: #E9E9E9;
  border-radius: 5%;
  margin: 20px;
  height: 80%;
  width: 80%;
}

.info .panel .text {

  display: flex;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 50%;
  
}
.info .panel .links {
  display: flex;
  height: 50%;
  padding: 0 40px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 19px;
}