.streamers {
  background-color: #FBFBFB;
  font: 'Comic sans';
}

.streamer {
 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  height: 60px;
  
}

.streamer .name{
  margin: 0 5px;
}

.streamer .count{
  margin: 0 5px;
}

/* @media (min-width: 768px) {
  .streamers {
    width: 100%;
  }
} */