.videoc {
  display: flex;
  
  flex-direction: column;
  flex-wrap: wrap;
    
  align-content: space-around;
  gap: 10px;
  padding: 10px 20px;
  
}

.vcontainer {
  border:1px solid blue;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 400px;
}

@media (min-width: 768px) {
  .videoc {
    
    flex-direction: row;  
    
  }
  .vcontainer {
    flex-basis: 200px;
  }
}

.vcontainer img{
  display: block;
  width: 100%;
  height: auto;
}

.video_descr {
  
  height: 50px;

  display: grid;
  grid-template-columns: 50px 1fr 10px;
  grid-template-rows: 20px 10px;
  
  grid-template-areas: 
  "streamer_image video_name video_menu"
  "streamer_image streamer_name video_menu"
  ;
}

.streamer_image {
  grid-area: streamer_image;
}
.video_name {
  grid-area: video_name;

}
.streamer_name {
  grid-area: streamer_name;
  font-size: 14px;
  color: grey;
}
.video_menu {
  grid-area: video_menu;
}

.video_menu {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.1px;
}



